
/* bar area */
.bar{
    /* font-family: selectB; */
    /* text-align: left; */
    /* text-align: center; */
    
    padding: 24px 24px;
    margin-top: 34px;
    border-bottom: 1px solid rgb(207, 207, 207);
    font-size: 2rem;
}
.bar .logo{
    font-family: selectB;
}

/* work title area */

.work_con
{
    margin-top: 20px;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.item {
    flex: 1 1 40%;
}
@media (min-width: 2px) and (max-width: 900px) {
    .item {
        flex: 1 1 100%;
    }
}
.item img{
    flex: auto;
}
.work_con > div{
    padding: 10px 20px;
}
.work_title > div{
    padding: 10px 20px 0px 20px;
}
.work_slide > div{
    margin: 0px 0px;
}

.work_slide{
    margin-top: 50px
}
.work_title span,.work_con span{
    display: block;
    padding-top: 10px;
}
.main_txt{
    display: inline;
    font-size: 1.1rem;
    line-height: 2rem;
}
.main_txt .cap{
    font-size: 0.9rem;
}
.main_img{
    display: inline;
    text-align: center;
    margin: auto;
}

.main_img span{
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
}
b{
    font-weight: bold;
}

.main_fog {
    padding: 30px 0px;
}

/* slide */
* {box-sizing: border-box}
/* body {font-family: Verdana, sans-serif; margin:0} */
.mySlides, .mySlides1 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(196, 196, 196);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right:  0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(190, 190, 190, 0.4);
}

/* Caption text */
.text {
    display: none;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #acacac;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot,.dot1 {
    display: none;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    /* display: inline-block; */
    transition: background-color 0.6s ease;
}
.dot span,.dot1 span {
    /* display: inline-block; */
    display: none;
}

.active, .dot:hover, .dot1:hover{
    background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}


.body{
    width: 100%;
}
.white_{
    width: 60%;
    margin: auto;
}
.work_slide{
    background-color: black;
}
.work_slide>div{
    width: 60%;
    margin: auto;
}