
/* bar area */
.bar{
    /* font-family: selectB; */
    /* text-align: left; */
    /* text-align: center; */
    
    padding: 24px 24px;
    margin-top: 34px;
    border-bottom: 1px solid rgb(207, 207, 207);
    font-size: 2rem;
}
.bar .logo{
    font-family: selectB;
}

/* work title area */

.work_con
{
    margin-top: 20px;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.item {
    flex: 1 1 40%;
}
.item img{
    flex: auto;
}
.work_con > div{
    padding: 10px 20px;
}
.work_title > div{
    padding: 10px 20px 0px 20px;
}
.work_slide > div{
    margin: 0px 0px;
}

.work_slide{
    margin-top: 50px
}
.work_title span,.work_con span{
    display: block;
    padding-top: 10px;
}
.main_txt{
    display: inline;
    font-size: 1.1rem;
    line-height: 2rem;
}
.main_txt .cap{
    font-size: 0.9rem;
}
.main_img{
    display: inline;
    text-align: center;
    margin: auto;
}

.main_img span{
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
}
b{
    font-weight: bold;
}

.main_fog {
    padding: 30px 0px;
}

.body{
    width: 100%;
}
.white_{
    width: 60%;
    margin: auto;
}
.work_slide{
    background-color: white;
}
.work_slide>div{
    width: 60%;
    margin: auto;
}
.mySlides > * {
    padding: 30px 0px;
}
.mySlides{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.mySlides > div{
    flex: 0 0 15%; 
}
/* img{
    width:40%;
} */